html[lang="fa"] { direction: rtl; }
body {
  margin: 0;
  font-family:  Arial;
  color: #000000;
  background: #ffffff;
  line-height: 2;
}
html, body { height: 100%; }
body {
  margin: 0;
  min-height: 100vh;           
  display: flex;              
  flex-direction: column;      
}
main {
   flex: 1; 
}             
footer {
   margin-top: auto; 
}  

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}
a { 
  color: #2962ff;
   text-decoration: none; 
}
h1,h2,h3 { 
  margin: 0 0 8px; 
}

.btn {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #fff;
  color: #000000;
  cursor: pointer;
  font-size: 14px;
}
.btn:hover {
  opacity: 0.7;
}
.btn-primary {
  background:rgb(0, 127, 115);
  border-color: rgb(0, 127, 115);
  color: #fff;
}
.btn-primary:hover { 
  opacity: 0.7;
}

header {
  background: #fff;
  border-bottom: 1px solid #ffffff;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}
.site-title {
  font-size: 30px;
  font-weight: 1000; 
}

nav a {
  margin: 0 10px;
  color: #000000;
  font-weight: 500;
}
nav a:hover {
   color:rgb(26, 3, 156);
   text-decoration: none;
}

footer {
  background: #f5f5f5;
  border-top: 1px solid #ddd;
  padding: 20px 0;
  margin-top: 40px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}
.footer-contact h3 {
   margin-top: 0; 
}
.footer-contact p {
  margin: 4px 0;
  align-items: center;
  color: #555; 
}

.card {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 12px;
}
.hide { 
  display: none !important; 
}
